body{
    margin:0;
    padding: 0;
    text-align: center;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h4{
    margin: 10px 0;
}
p{
    color:red;
    font-size: 12px;
}
.btnPrimary {
    background-color: rgb(55, 55, 243);
    color:#fff;
}